.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .team-name-section {
    grid-column: span 3;
    justify-self: start;
    align-self: center;
  }

  .team-name {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  .win-loss {
    justify-self: center;
    padding: 50px;
    text-align: center;
  }
  .match-detail {
    grid-column: span 4;
    & > h2 {
      margin-bottom: 15px;
    }
  }

  .more-link {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    height: 130px;
  }
}
